.navbar{
  display: flex;
  padding-left: 1163px;
  justify-content: space-between;
  background-color: whitesmoke;
}
#navBtn{
  display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: -19%;
    height: 48px;
    padding: 0 20px;
    background: #2A85FF;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    color: #FCFCFC;
    transition: all .2s;
    border-style: none;
    padding: 12px;
    background-color: #0069f6;
}
.icons-nav{
  align-items: center;
    display: flex;
    margin-left: 229px;
}
#user-avatar{
  margin-right: 30px;
  width: 51px;
  border-radius: 50%;
}
#nav-search{
  margin-left: -846px;
  display: flex;
}
#nav-search input{
  width: 100%;
    height: 48px;
    padding: 0 68px 0 42px;
    background: #efeded;
    border: 2px solid transparent;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
    color: #1A1D1F;
}
#search-img {
  width: 6%;
  margin-left: -100%;
}
#search{
  height: 49px;
  width: 45px;
}

#msg{
  width: 15%;
  margin-left: 33%;
}
.icons-nav button { 
  top: -10px;
  position: relative;
  right: 14px;
  background-color: orangered;
  border-radius: 60%;
  height: 16px;}
#notification{
  width: 15%;
}